{% extends 'new_template.html' %}

{% block style %}



{% endblock %}


{% block content %}
    <!-- 슬라이드쇼 Begin -->
<section class="hero-section">
    <img src="{{url_for('static',filename='wordcloud/wordcloud.svg')}}">
        <div class="container">
            <div class="hs-slider owl-carousel">
                <!--                반복시작-->
                {% for i in model %}

                <div class="hs-item set-bg" data-setbg="{{ url_for('static',filename='shoesmodels/'+i.img )}}">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hc-inner-text" style="opacity: 0.85;">
                                <div class="hc-text">
                                    <a href="{{ url_for('model.view',_anchor=i.code) }}"><h4>{{i.subname}}</h4></a>
                                    <div class="font-weight-bold text-danger"><span class="fa fa-money"> 플랫폼 평균가격 : </span> {{(i.platform_price_set | sum(attribute='price') // (i.platform_price_set | length) ) | price}}</div>
                                    {% if( i.sales_set | length ) ==0 %}
                                    <div class="font-weight-bold text-info"><span class="fa fa-money"> 마켓 평균가격 : </span> 데이터 없음</div>
                                    {% else %}
                                    <div class="font-weight-bold text-info"><span class="fa fa-money"> 마켓 평균가격 : </span> {{ (i.sales_set | sum(attribute='price') // i.sales_set | length ) | price }}</div>
                                    {% endif %}

                                    <div class="label" style="background-color:
                    {% if i.brand =='nike'%}#cb2d3e;{%endif%}
                    {% if i.brand =='converse'%}#fc4a1a;{%endif%}
                    {% if i.brand =='adidas'%}#6A82FB;{%endif%}
                    {% if i.brand =='newbalance'%}#bdc3c7;{%endif%}
                    {% if i.brand =='jordan'%}#DECBA4;{%endif%}">{{i.brand}}</div>
                                    <h5></h5>
                                </div>
                                <div class="hc-widget">
                                    <ul>
                                        <li><i class="fa fa-calendar"></i>{{i.release_date.strftime('%y-%m-%d')}}</li>
                                        <li><a class="text-danger" href="{{ url_for('model.detail',code=i.code) }}"><i class="fa fa-database text-danger"></i>{{i.platform_price_set | length}}</a></li>
                                        <li><i class="fa fa-won"></i>{{i.retail_price}}</li>
                                        <li><a class="text-info" href="{{ url_for('market._list',kw=i.keyword) }}"><i class="fa fa-database text-info"></i>{{i.sales_set | length}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--                반복끝-->
            </div>
        </div>
    </section>
    <!-- 슬라이드쇼 End -->

  <!-- Chooseus Section Begin -->
    <section class="chooseus-section spad set-bg" data-setbg="{{url_for('static',filename='source/img/main-wide.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8" style="background-color:black; z-index:4; opacity:0.8;">
                    <div class="chooseus-text" style="z-index:1;">
                        <div class="section-title">
                            <h4>신발 시세정보</h4>
                        </div>
                        <p>신발을 거래할수있는 커뮤니티,플랫폼,모바일앱 등 에서 데이터를 수집하여 가공된정보를 볼수있습니다.

                    </div>
                    <div class="chooseus-features">
                        <div class="cf-item">
                            <div class="cf-pic">
                                <img src="{{url_for('static',filename='source/img/robot.svg')}}" alt="">
                            </div>
                            <div class="cf-text">
                                <h5>자동화</h5>
                                <p>원하는 정보를 입력하거나 설정해둔 값으로 자동으로 데이터를 수집</p>
                            </div>
                        </div>
                        <div class="cf-item">
                            <div class="cf-pic">
                                <img src="{{url_for('static',filename='source/img/process.svg')}}" alt="">
                            </div>
                            <div class="cf-text">
                                <h5>데이터처리</h5>
                                <p>정형데이터,비정형데이터 모두 수집하여 가공하여 나타냅니다.</p>
                            </div>
                        </div>
                        <div class="cf-item">
                            <div class="cf-pic">
                                <img src="{{url_for('static',filename='source/img/target.svg')}}" alt="">
                            </div>
                            <div class="cf-text">
                                <h5>타겟</h5>
                                <p>비정형모델 : 3<br>정형데이터 : 1 (1구현중)<br>모바일앱 : 구현중</p>
                            </div>
                        </div>
                        <div class="cf-item">
                            <div class="cf-pic">
                                <img src="{{url_for('static',filename='source/img/morality.svg')}}" alt="">
                            </div>
                            <div class="cf-text">
                                <h5>윤리성</h5>
                                <p>현재는 스터디목적으로 개설<br>로봇배제표준을 준수하려함<br>문제시 관련데이터 및 코드 삭제
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Chooseus Section End -->
    <!-- 판매량순위 TOP9 Begin -->
    <section class="agent-section spad"
    >
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h4>판매량순위 TOP9</h4>
                    </div>
                </div>
            </div>
            <div class="as-slider owl-carousel">
                {% for i in range(0,9,3)%}
                <div class="row">
                    {% for ranking in topnine[i:i+3] %}
                    <div class="col-lg-4 col-md-6">
                        <div class="as-item">
                            <div class="as-pic">
                                <img src="{{ url_for('static',filename='shoesmodels/'+ranking.img )}}" alt="">
                                <div class="rating-point">
                                    {{loop.index + i}}
                                </div>
                            </div>
                            <div class="as-text">
                                <div class="at-title">
                                    <h6>{{ranking.name}}</h6>
                                    <div class="rating-star">
                                        {% if ((ranking.platform_price_set  | sum(attribute='price') // (ranking.platform_price_set | length) -ranking.retail_price) / 100000) | round(1,'common') > 1 %}
                                        {% for star in  range(((ranking.platform_price_set  | sum(attribute='price') // (ranking.platform_price_set | length) -ranking.retail_price) / 100000) | round(0,'floor')|int) %}
                                        <i class="fa fa-star"></i>
                                        {% endfor %}
                                        {% endif %}
                                        {% if (((ranking.platform_price_set  | sum(attribute='price') // (ranking.platform_price_set | length) -ranking.retail_price) / 100000) | round(1,'common') %1 ) > 0.1 %}
                                        <i class="fa fa-star-half-o"></i>
                                        {% endif %}
                                        &nbsp;
                                        <h4 class='text-warning' style="display:inline;">{{ ((ranking.platform_price_set  | sum(attribute='price') // (ranking.platform_price_set | length) -ranking.retail_price) / 100000) | round(1,'common') }}</h4>

                                    </div>
                                </div>
                                <ul>
                                    <li>평균가 <span>{{ (ranking.platform_price_set | sum(attribute='price') // (ranking.platform_price_set | length)) | price }}</span></li>
                                    <li>거래양 <span>{{ranking.platform_price_set | length}}건</span></li>
                                    <li>출시일 <span>{{ranking.release_date | datetime}}</span></li>
                                </ul>
                                <a href="{{url_for('model.detail',code=ranking.code)}}" class="primary-btn">플랫폼 시세조회</a>
                                <br>
                                <a href="{{url_for('market._list',kw=ranking.keyword)}}" class="primary-btn">마켓 시세조회</a>
                            </div>
                        </div>
                    </div>
                    {% endfor%}
                </div>
                {% endfor%}
            </div>
        </div>
    </section>
    <!-- 판매량순위 TOP9 End -->

    <!-- 크롤링 데이터 Begin -->
    <section class="team-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="section-title">
                        <h4>크롤링 데이터</h4>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col"></div>
                <div class="col-md-4">
                    <div class="ts-item">
                        <div class="ts-text">
                            <img src="{{ url_for('static',filename='source/img/clerk.svg')}}" alt="">
                            <h5>Market</h5>
                            <a href="{{url_for('market._list')}}"><span>{{marketprice| length}}건</span></a>
                            <br>
                            <span>
                                {% if g.user.roles == 'admin' or g.user.roles == 'manager' %}
                                <a target="_blank" href="http://nike-mania.co.kr/">나이키매니아</a>
                                <a target="_blank" href="https://footsell.com/">풋셀</a>
                                <a target="_blank" href="https://m.bunjang.co.kr/">번개장터</a>
                                {% else %}
                                <p><strong>3</strong> web-site crawling</p>
                                {% endif%}
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ts-item">
                        <div class="ts-text">
                            <img src="{{ url_for('static',filename='source/img/cash-on-delivery.svg')}}" alt="">
                            <h5>PlatForm</h5>
                            <a href="{{url_for('platform._list')}}"><span>{{modelprice| length}}건</span></a>
                           <br>
                            <span>
                                {% if g.user.roles == 'admin' or g.user.roles == 'manager' %}
                                <a target="_blank" href="https://www.xxblue.com/">xxblue</a>
                                 {% else %}
                                <p><strong>1</strong> web-site crawling</p>
                                {% endif%}
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </section>
    <!-- 크롤링 데이터 End -->

<!-- 브랜드별모델 Begin -->
    <section class="categories-section" style="margin-bottom:60px;">
        <div class="col-lg-8 col-md-8">
                    <div class="section-title">
                        <h4>브랜드별 모델</h4>
                    </div>
                </div>
        <div class="cs-item-list" >
              {%for i in model | groupby('brand')%}
            <a href="{{url_for('model.view')}}">
            <div style="border-style: dotted;border-color:
                    {% if i[0] =='nike'%}#cb2d3e;{%endif%}
                    {% if i[0] =='converse'%}#fc4a1a;{%endif%}
                    {% if i[0] =='adidas'%}#6A82FB;{%endif%}
                    {% if i[0] =='newbalance'%}#bdc3c7;{%endif%}
                    {% if i[0] =='jordan'%}#DECBA4;{%endif%}
                    " class="cs-item set-bg" data-setbg="{{url_for('static',filename='brand/{}.png'.format(i[0]))}}">
                <div class="cs-text" style="background-color: transparent;">
                    <h3 class="font-weight-bolder text-monospace" style="text-shadow: 1px 1px #000000;
                    color : {% if i[0] =='nike'%}#cb2d3e;{%endif%}
                    {% if i[0] =='converse'%}#fc4a1a;{%endif%}
                    {% if i[0] =='adidas'%}#6A82FB;{%endif%}
                    {% if i[0] =='newbalance'%}#bdc3c7;{%endif%}
                    {% if i[0] =='jordan'%}#DECBA4;{%endif%}">{{i[0] | upper}}</h3>
                    <span style="margin:30px;"><h4 style="opacity:0.8;" class="text-white bg-dark">{{i[1] |length}}</h4></span>
                </div>
            </div></a>
            {% endfor %}
        </div>
    </section>
    <!-- 브랜드별모델 End -->

<!-- Today's Cafe Topic 시작 -->
    <section class="feature-property-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 p-0">
                    <div class="feature-property-left">
                        <div class="section-title">
                            <h4>Today's Cafe Topic</h4>
                        </div>

                    </div>
                </div>
                <div class="col-lg-10 p-0">
                    <div class="fp-slider owl-carousel">
                        {% for wc in wc_list %}
                        <div class="fp-item set-bg" data-setbg="{{url_for('static',filename='wordcloud/wc/'+wc)}}">
                            <div class="fp-text">
                                <p></p>
                                <div class="label" style="text-shadow: 1px 1px #000000;
                    background-color : {% if 'nike' in wc %}#cb2d3e;{%endif%}
                    {% if 'other'in wc %}#fc4a1a;{%endif%}
                    {% if 'adidas' in wc%}#6A82FB;{%endif%}
                    {% if 'jordan' in wc %}#DECBA4;{%endif%}">{{wc[:-4]}}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Today's Cafe Topic End -->




<!-- Contact Section End -->
{% endblock %}

{% block script%}
{% endblock %}