{% extends 'new_template.html' %}

{% block style %}
{% endblock %}


{% block content %}

<!-- Contact Form Section Begin -->
    <section class="contact-form-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cf-content">
                        <div class="cc-title">
                            <h4>신발모델 생성폼</h4>
                        </div>
                        <form method="post" class="cc-form" enctype="multipart/form-data">
                            {{ form.csrf_token }}
                            {% include "form_errors.html" %}
                            <div class="group-input">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <input type="text" placeholder="Website">
                            </div>
                            <textarea placeholder="Comment"></textarea>
                            <button type="submit" class="site-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Form Section End -->
{% endblock %}

{% block script%}
{% endblock %}