{% extends 'new_template.html' %}

{% block style %}
{% endblock %}


{% block content %}
<section class="contact-form-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cf-content">
                        <div class="cc-title">
                            <h4>회원가입</h4>
                        </div>
                        <form method="post" class="cc-form">
                            {{ form.csrf_token }}
                            {% include "form_errors.html" %}

                            <div class="group-input">

                                <input type="text"  name="username" id="username" placeholder="ID" value="{{ form.username.data or '' }}" style="width:calc(100% - 20px);">

                                <input type="password"  name="password1" id="password1" placeholder="Password" value="{{ form.password1.data or '' }}" style="width:calc(100% - 20px);">

                                <input type="password"  name="password2" id="password2" placeholder="Password" value="{{ form.password2.data or ''}}" style="width:calc(100% - 20px);">

                                <input type="email" name="email" id="email" placeholder="Email" value="{{ form.email.data or ''}}" style="width:calc(100% - 20px);">
                                <input hidden name="roles" id="roles" value="common">

                                <button type="submit" class="site-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script%}
{% endblock %}