{% extends 'new_template.html' %}

{% block style %}

.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .6s ease;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.content:hover .overlay {
opacity: 1;
}

{% endblock %}

{% include "success.html" %}
{% block content %}


    <!-- Property Section Begin -->


    <section class="property-section latest-property-section spad">
        <div class="container">
            <div class="row">

                <div class="col-lg-4">
                    <div class="section-title">
                        <h4>신발 모델</h4>
                    </div>
                </div>
                <div class="col-lg-2">

                </div>
                <div class="col-lg-6">
                    <div class="property-controls">
                        <ul>
                            <li data-filter="all">All</li>
                            <li data-filter=".nike">nike</li>
                            <li data-filter=".jordan">jordan</li>
                            <li data-filter=".adidas">adidas</li>
                            <li data-filter=".newbalance">newbalance</li>
                            <li data-filter=".converse">converse</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row property-filter">
                {% for item in items%}
                <div class="col-lg-4 col-md-6 mix all {{item.brand}}" style="margin-bottom:10px;">
                    <div class="property-item content">
                        <div class="pi-pic set-bg " data-setbg="{{url_for('static',filename='shoesmodels/'+item.img )}}">
                            <div class='overlay' style="background-color:
                    {% if item.brand =='nike'%}#cb2d3e;{%endif%}
                    {% if item.brand =='converse'%}#fc4a1a;{%endif%}
                    {% if item.brand =='adidas'%}#6A82FB;{%endif%}
                    {% if item.brand =='newbalance'%}#bdc3c7;{%endif%}
                    {% if item.brand =='jordan'%}#DECBA4;{%endif%}">
                                <div class="text-center" style="padding-top:25%;">
                                <a href="{{ url_for('platform._list',code=item.code) }}" class="btn btn-light font-weight-normal">view</a>
                                </div>
                                {% if g.user.username == '1234' %}

                                <div class="text-center" style="padding-top:5%;">
                                    <a href="{{ url_for('model.modify', shoes_id=item.id) }}" class=" btn btn-light text-warning">수정</a>
                                    <a href="{{ url_for('model.delete', shoes_id=item.id) }}" class="delete btn btn-light text-danger">삭제</a>
                                </div>
                                {% endif %}
                            </div>

                            <div style="box-shadow: 0 4px 8px 0 rgba(255,255,255,0.4);
                            background-color:
                    {% if item.brand =='nike'%}#cb2d3e;{%endif%}
                    {% if item.brand =='converse'%}#fc4a1a;{%endif%}
                    {% if item.brand =='adidas'%}#6A82FB;{%endif%}
                    {% if item.brand =='newbalance'%}#bdc3c7;{%endif%}
                    {% if item.brand =='jordan'%}#DECBA4;{%endif%}" class="label">{{item.brand}}
                            </div>
                        </div>


                        <div class="pi-text">
                            <div class="pt-price">{{item.retail_price | price }}</div>
                            <h5><a href="#">{{item.subname | maxstr}}</a></h5>
                            <p></p>
                            <ul>
                                <li><i class="fa fa-codepen"></i>{{item.code}}</li>
                                <li><i class="fa fa-calendar"></i>{{item.release_date | datetime}}</li>
                                <li><i class="fa fa-database"></i>{{item.platform_price_set | length}}건</li>

                            </ul>
                            <div class="pi-agent">
                                <div class="pa-item">
                                    <div class="pa-info">
                                        <img src="{{url_for('static',filename='brand/{}.png'.format(item.brand))}}" alt="">
                                        <h6>{{item.name | maxstr}}</h6>
                                    </div>
                                    <div class="pa-text">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- Property Section End -->

{% endblock %}

{% block script%}
{% endblock %}